*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(https://images.pexels.com/photos/325872/pexels-photo-325872.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.c3{
  padding: 30px 50px;
  background-color: white;
  color: gold;
  margin-left: 320px;
  margin-top: 250px;
  font-size: 30px;
  border: double rgba(255, 0, 255, 0.83);
  border-radius: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
